
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$color-blue: #2B95D6 !default;
$color-red: #DB3737 !default;
$color-yellow: #D99E0B !default;
$color-orange: #D9822B !default;
$color-green: #0F9960 !default;
$color-teal: #00B3A4 !default;

$color-initial: #fff !default;
$color-primary: $color-blue !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;
