body {
    min-width: 960px;

    display: grid;
    grid-row-gap: 3rem;
    grid-template-columns: auto 960px auto;
    grid-template-rows:auto auto auto;
    grid-template-areas:
    "header header header"
    ". content ."
    ". footer .";

    & > header {
        background-color: $color-primary;
        color: $color-initial;
        padding-top: 1rem;
        grid-area: header;

        display: grid;
        grid-template-columns: auto 100px 660px 200px auto;
        grid-template-rows: 50px 50px 5px;
        grid-template-areas:
        ". logo title icons ."
        ". logo tagline tagline .";

        // Left side
        & > #logo {
            grid-area: logo;
        }
        & > #title {
            grid-area: title;
            padding-top:1rem;
            padding-left:3rem;
        }
        & > #tagline {
            grid-area: tagline;
            padding-left:3rem;
        }

        // Right side
        & > .icons {
            margin-top:1rem;
            fill: $color-initial;
            grid-area: icons;
            height: 30px;
            font-size: 1.3rem;
            line-height: 1.6rem;
            color: $color-initial;


            & span {
                color: transparentize(darken($color-initial, 0%), 0.25);
                line-height:1.75rem;
                font-family: 'Roboto Mono', "monospace";
            }
        }
        & > .icons #github-icon {float:left}
        & > .icons > div {margin-left: 4rem}

    }

}



main {
    grid-area: content;

    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "nav content"
        ". content";
    grid-column-gap: 4rem;

    & > section{
        grid-area: content;
    }

    & > nav {
        grid-area: nav;
        position: sticky;
        top: 1rem;
        overflow-y:auto;
        padding-right: 3rem;
        margin-top: 1rem;

        &::-webkit-scrollbar {width: 0.75rem}
        &::-webkit-scrollbar-track {
            margin-top:0.5rem;
            background: transparent;
            border-radius:100rem;
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius:100rem;
        }
        &:hover::-webkit-scrollbar-thumb{
            background-clip: padding-box;
            background: #7289da;
            border-radius:100rem;
        }
        &:hover::-webkit-scrollbar-track{
            background-clip: padding-box;
            background: rgba(114, 137, 218, 0.15);
            border-radius:100rem;
        }

    }
}

footer {
    grid-area: footer;
    padding-bottom:3rem;
    color: lighten($color-secondary, 15%);
    text-align: center;
    font-size: 80%;

    & a{
        color: lighten($color-primary, 15%) !important
    }
}
