
// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a:not(.button) {
	color: $color-primary;
	text-decoration: none;
	position: relative;
	cursor: pointer;

	&:before{
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 100%;
		padding-bottom:1rem;
		border-bottom: 1px solid $color-primary;
		content: '';
		transition: all 0.15s;
		transform: scaleX(0);
	}

	&:focus, &:hover {
		&:before{
			transform: scaleX(1);
		}
	}
}
